/* header height is defined */
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
}
html a {
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

body {
  /* header with main menu */
}
body > header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  max-height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  /* main nav menu */
}
body > header .main-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  /* logo */
  /*  */
}
body > header .main-wrapper a {
  text-decoration: none;
  color: black;
}
body > header .main-wrapper img {
  height: 60px;
  max-width: 150px;
}
body > header .main-wrapper nav {
  box-sizing: border-box;
}
body > header .main-wrapper nav ul {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  box-sizing: border-box;
}
body > header .main-wrapper nav ul li {
  font-weight: 500;
  font-size: 1.1em;
  box-sizing: border-box;
}
body > header .main-wrapper nav ul li #site-search {
  margin: 5px 10px;
  width: fit-content;
  display: block;
  background-color: rgba(128, 128, 128, 0.4);
  color: black;
  height: 80%;
}
body > header .main-wrapper nav ul li #site-search #search-icon {
  color: rgb(0, 0, 0);
}
body > header .main-wrapper nav ul li #site-search:hover {
  color: white;
  background-color: black;
}
body > header .main-wrapper nav ul li:last-child {
  position: absolute;
  right: 0;
  height: 60px;
  box-sizing: border-box;
}
body > header .main-wrapper nav ul li:last-child a {
  display: inline-block;
  color: blue;
  padding: 10px;
}
body > header .main-wrapper nav ul li:last-child a:hover {
  box-shadow: inset 0 5px 0 0 blue;
}
body > header .main-wrapper nav ul li a {
  display: inline-block;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}
body > header .main-wrapper nav ul li a:hover {
  box-shadow: inset 0 5px 0 0 black;
  /* border-top: 3px solid rgb(0, 0, 0); */
}
body main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* first column of flex, with quick access */
  /* 2nd column of flex with news */
  /* 3rd column of flex with telex */
}
body main > .pratique {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
  font-size: 0.8em;
}
body main > .pratique #section-pratique {
  padding: 20px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 1.5em;
  justify-content: center;
}
body main > .pratique nav {
  /* menu with buttons */
  /* menu with icons */
}
body main > .pratique nav ul {
  justify-content: center;
}
body main > .pratique nav .quick-access-top {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}
body main > .pratique nav .quick-access-top .quick-access-button {
  margin: 5px;
  padding: 10px;
  width: fit-content;
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.2);
  text-decoration: none;
  color: black;
}
body main > .pratique nav .quick-access-top .quick-access-button [class^=demo-icon] {
  color: blue;
}
body main > .pratique nav .quick-access-top .quick-access-button:hover [class^=demo-icon] {
  color: rgb(90, 90, 253);
}
body main > .pratique nav .quick-access-top .quick-access-button-carte {
  background-color: none;
  color: rgb(255, 0, 0);
  width: fit-content;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 10px;
}
body main > .pratique nav .quick-access-top .quick-access-button-carte:hover {
  color: rgb(255, 255, 255);
  background-color: red;
}
body main > .pratique nav #access-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body main > .pratique nav .access_bottom {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  text-align: left;
  font-size: 1em;
  box-sizing: border-box;
  padding: 15px;
  display: inline-block;
}
body main > .pratique nav .access_bottom li {
  border-bottom: 1px solid grey;
}
body main > .pratique nav .access_bottom [class^=demo-icon] {
  position: absolute 0, -1, 0, 0;
  border-radius: 25px;
  padding: 10px;
  margin: 15px;
  margin-left: 2px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
}
body main > .pratique nav .access_bottom:hover {
  box-shadow: inset 0 5px 0 0 rgb(0, 0, 0);
}
body main > .pratique nav .access_bottom:hover [class^=demo-icon] {
  color: rgb(255, 255, 255);
  background-color: black;
}
body main .news {
  width: 50%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
body main .news #main-article {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  overflow: hidden;
}
body main .news #main-article img {
  width: 100%;
}
body main .news #main-article img:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}
body main .news #main-article #info-main-article {
  max-width: 70%;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  padding: 10px;
}
body main .news #main-article #info-main-article #featured {
  color: white;
  background-color: red;
  text-transform: uppercase;
  width: fit-content;
  font-size: 0.7em;
  padding: 10px;
  position: absolute;
  top: -10px;
  left: 10%;
  z-index: 0;
}
body main .news #main-article #info-main-article > h3 {
  margin-top: 20px;
  font-size: 2em;
}
body main .news h3 {
  font-size: 1.2em;
  font-weight: 600;
}
body main .telex {
  width: 20%;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  font-size: 0.9em;
}
body main .telex .telex_unit {
  display: flex;
  flex-direction: row;
}
body main .telex .telex_unit time {
  font-size: 2em;
}
body main .telex .telex_unit [class^=demo-icon] {
  color: red;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer a {
  text-decoration: none;
}
footer img {
  max-width: 150px;
  max-height: 100px;
}
footer .footer-red {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
  color: red;
  width: fit-content;
}
footer .footer-red:hover {
  color: white;
  background-color: red;
}
footer a {
  text-decoration: none;
}
footer #footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer #footer-left #footer-left-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #footer-left #footer-left-middle ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
footer #footer-left #footer-left-middle li {
  text-align: center;
}
footer #footer-left #footer-left-bottom {
  padding: 0 50px;
}
footer #footer-left #footer-left-bottom ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer #footer-right {
  background-color: midnightblue;
  color: white;
  gap: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}
footer #footer-right a {
  text-decoration: none;
  color: white;
}
footer #footer-right [class^=demo-icon] {
  color: white;
}
footer #footer-right [class^=demo-icon]:hover {
  color: red;
}
footer #footer-right button {
  color: white;
  background-color: red;
}
footer #footer-right button:hover {
  color: red;
  background-color: white;
}
footer #footer-right ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/*# sourceMappingURL=index.css.map */
